.about h4 {
  color: orange;
}

.about .container {
  /* position: relative; */
  background-color: rgba(31, 36, 44);
  font-size: 1.2em;
  border-radius: 0.3em;
  margin-top: 0;
  color: oldlace;
  padding: 1em;
}

.AboutMeBlurb {
  font-family: "bgMed";
  margin-top: 2em;
  color: #212529;
}

.about {
  margin: 6em auto auto auto;
  background-color: rgba(36, 41, 52, 0.9);
  border-radius: 0.3em;
  padding: 2em;
  text-align: left;
}

.about a {
  color: oldlace;
}

a:hover {
  color: orange;
}

.about img {
  position: absolute;
  z-index: -1;
  width: 35%;
  min-width: 20rem;
}

#interview {
  top: 250px;
  right: 150px;
}

#coding {
  top: 1100px;
  right: 1100px;
}

#pair {
  top: 1700px;
  right: 200px;
}

/* .fadein {
    opacity: 0;
    animation-name: appear;
    animation-duration: 4s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  } */

@media screen and (min-width: 480px) {
  .about {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
    .about {
        padding: 1em 0.3em 1em 0.3em;
        /* margin-top: 2em; */
    }
  #interview {
    display: none;
  }
  #coding {
    display: none;
  }
  #pair {
    display: none;
  }
}
