.ContentArea {
  display: inline-block;
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 0;
  color: #212529;
}

h4 {
  font-family: "bgBold";
  font-size: 1.2rem;
  margin: 0.5em;
}

.about h4 {
  color: orange;
}

.about .container {
  font-size: 1.2em;
  margin-top: 0;
  color: oldlace;
  padding: 1em;
}

.AboutMeBlurb {
  font-family: "bgMed";
  margin-top: 2em;
  color: #212529;
}

.about {
  margin: 6em auto auto auto;
  background-color: rgba(33, 37, 41, 0.9);
  border-radius: 0.3em;
  padding: 2em;
  text-align: left;
}

.about a {
  color: oldlace;
}

.about a:hover {
  color: orange;
}

#interview {
  position: absolute;
  z-index: -1;
  top: 220px;
  right: 200px;
  width: 50rem;
}

#coding {
  position: absolute;
  z-index: -1;
  top: 800px;
  right: 900px;
  width: 50rem;
}

#pair {
  position: absolute;
  z-index: -1;
  top: 1200px;
  right: 200px;
  width: 50rem;
}

.fadein {
  opacity: 0;
  animation-name: appear;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (min-width: 480px) {
  .about {
    width: 50%;
  }
}
