.ContentArea {
  display: inline-block;
  font-family: "Lato", sans-serif;
}

h1 {
  margin: 0;
  color: #212529;
}

h4 {
  font-family: "bgBold";
  font-size: 1.2rem;
  margin: 0.5em;
}

a {
  color: oldlace;
}

a:hover {
  color: orange;
}

.fadein {
  opacity: 0;
  animation-name: appear;
  animation-duration: 4s;
  /* animation-delay: 1s; */
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}


