.brand-name {
    font-family: 'Berkshire Swash', cursive;
    font-size: 5em;
}

@media screen and (max-width: 768px) {
    .brand-name {
        font-size: 4em;
    }
}
@media screen and (max-width: 480px) {
    .brand-name {
        font-size: 3em;
    }
}
@media screen and (max-width: 320px) {
    .brand-name {
        font-size: 2em;
    }
}


/* Animation for nckdhl BrandName text */

/* Vowels i and a fade in */
.vowel {
    opacity: 0;
    animation: appear-vowel 10s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes appear-vowel {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 1; }
  }

/* N slides to the left */
.n {
    margin-right: -0.1em;
    animation-duration: 5s;
    animation-name: n-slide-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes n-slide-out {
    from {
      margin-right: -0.1em;
    }
  
    to {
      margin-right: 0em;
    }
  }

/* CK slides to the right */
.ck {
    margin-left: -0.2em;
    animation-duration: 5s;
    animation-name: ck-slide-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes ck-slide-out {
    from {
      margin-left: -0.2em;
    }
  
    to {
      margin-left: 0em;
    }
  }

/* D slides to the left */
.d {
    margin-right: -0.2em;
    animation-duration: 5s;
    animation-name: d-slide-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes d-slide-out {
    from {
      margin-right: -0.2em;
    }
  
    to {
      margin-right: 0em;
    }
  }

/* HL slides to the right */
.hl {
    margin-left: -0.3em;
    animation-duration: 5s;
    animation-name: hl-slide-out;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

@keyframes hl-slide-out {
    from {
      margin-left: -0.2em;
    }
  
    to {
      margin-left: 0em;
    }
  }
