@font-face {
  font-family: 'bgBlack';

	src: url('./assets/fonts/Brandon_blk.woff') format('woff'); 
	
	font-weight: normal;
	font-style: normal;
	font-smooth: always;
}

@font-face {
  font-family: 'bgBold';
  
	src: url('./assets/fonts/Brandon_bld.woff') format('woff');
	
	font-weight: normal;
	font-style: normal;
	font-smooth: always;
}

@font-face {
  font-family: 'bgMed';
  
	src: url('assets/fonts/Brandon_med.woff') format('woff');

	font-weight: normal;
	font-style: normal;
	font-smooth: always;
}

body {
  background-image: url('./assets/images/siora-unsplash.jpg');
}

